---
import { Image } from "astro:assets";
import heroImage from "assets/what-the-plate.svg";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon/components";
---

<main
  class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24"
>
  <div class="py-6 hidden md:block">
    <Image src={heroImage} alt="What The Plate Logo" width={300} />
  </div>
  <div>
    <h1
      class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter"
    >
      Easy AI Nutrition Tracking
    </h1>
    <p class="text-lg mt-4 text-slate-600 max-w-xl">
      Sick of entering weights and finding ingredients? Track your meals with
      just a photo & let AI do the rest!
    </p>
    <div class="mt-6 flex flex-col sm:flex-row gap-3">
      <Link
        href="#"
        href="https://web3templates.com/templates/astroship-starter-website-template-for-astro"
        target="_blank"
        class="flex gap-1 items-center justify-center"
        rel="noopener"
      >
        <Icon class="text-white w-5 h-5" name="bx:bxl-apple" />

        iOS
      </Link>
      <Link
        href="#"
        href="https://web3templates.com/templates/astroship-starter-website-template-for-astro"
        target="_blank"
        class="flex gap-1 items-center justify-center"
        rel="noopener"
      >
        <Icon class="text-white w-5 h-5" name="bx:bxl-play-store" />

        Android
      </Link>
    </div>
  </div>
</main>
